@font-face {
    font-family: 'Pretendard-Regular';
    src: url('src/assets/font/Pretendard-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('src/assets/font/Pretendard-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('src/assets/font/Pretendard-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('src/assets/font/Pretendard-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url("src/assets/font/Pretendard-ExtraBold.otf") format("opentype");
}